.userInfo {
    display: flex;
    border: 3px solid cornflowerblue;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    background-color: #b2f6f6;
}

.userAddress, .userGeo, .userCompany {
    margin-left: 25px;
}

.userInfo h4 {
    margin: 5px;
}

.userInfo > a > button {
    width: 90%;
}

.allUserPosts {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.allUserPosts button:hover {
    background-color: #e06b1a;
}