.userBlock{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    padding: 5px 10px;
    width: 100%;
}
.userList{
    font-size: 18px;
}
.Users{
width: 100%;
}
.userBtn{
    background: cornflowerblue;
    font-size: 18px;
    margin: 10px 20px;
    border-radius: 10px;
}
.list{
    width: 40%;
}
.list,.userList
{
    border: 2px solid yellowgreen;
    margin: 5px;
}