.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.Users, .Posts{
  border: 2px solid cornflowerblue;
  margin: 5px;
}

.Users{
  width: 28%;
}
.Posts{
  width: 67%;
}
.Comments{
  width: 96%;
  border: 2px solid cornflowerblue;
  margin: 5px ;
}
h2{
  background-color: silver;
  width: 95%;
  margin: 10px auto;
  border-radius: 15px;
}